# Ignore all .log files
*.log

# Ingnore all .env files
*.env
# Ignore config.psd1
config.psd1

# Ignore all files in any directory named temp
temp/

# Ignore all .txt files in the root directory
/*.txt

#modules to ignore
node_modules/
# modules/

# AWS CLI credentials and config
.aws/
.aws/config
.aws/credentials

# Custom AWS token or secret files
aws_tokens.txt
secrets/

# Ignore all files in the winget-install directory
winget-install/
