*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url('../../images/drawings/proom.png');
  background-size: cover; 
  background-repeat: no-repeat;
padding: 2em;  
}
  
h1 h2 {
  width: 50%;
  align-items: center;
}
ul {
  width: 50%;
}
  table {
    width: 100%;     
    max-width: 100%;
    margin: 0;
    padding: 0;
  align-items: center;
  }
  img.katamar {
    z-index: -1;
    position: absolute; 
    width: 100%;  
    transform: scale(0.5);
  }

   /* add this css to your stylesheet or add it within a style tag in the head of your document */
.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  /* You can change the background color and image URL here.  This solution works with animated .svg and animated .gif */
  background: #ffffff url('https://gist.githubusercontent.com/condensed-io/d4da34ecfdeda137ad4787fbd244ed27/raw/b96d939e9baf98ff79394c11af83c10a6acdd241/pac.svg') no-repeat center center;
}
.ghosttit{
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))

}
.ghostskit{
  -webkit-mask-image: -webkit-gradient(radial, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))

}


html {
  background-image: url("static/image/noise/surface_of_concrete_wall\ with_light_spots.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;

}


canvas {
  border: 1px solid azure;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
