/* styless for index.html */ 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url('../../images/drawings/proom.png');
  background-size: cover; 
  background-repeat: no-repeat;
padding: 2em;
  align-items: center;
  /* background-image: url(../static/image/noise/surface_of_concrete_wall_with_light_spots.png); */
  /* background-image: url(../static/image/noise/surface_of_concrete_wall_with_light_spots.jpg); */
  /* background-image: linear-gradient( to bottom, hsl(196, 100%, 13%), hsl(50, 100%, 50%) ); */
  background-repeat: no-repeat;
  position: relative;
            height: 100vh; /* Ensure the body takes up the full viewport height */
            display: flex;
            justify-content: center; /* Center children horizontally */
            align-items: center; /* Center children vertically */
            flex-wrap: wrap; /* Allow items to wrap */
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

.random-position {
  position: absolute;
}

h1 h2 {
  width: 50%;
  align-items: center;
    width: 50%;
  align-items: center;
}

ul {
  width: 50%;
}

  table {
    width: 100%;     
    max-width: 100%;
    margin: 0;
    padding: 0;
  align-items: center;
  }

  img.katamar {
widht: 50%;
height: 50%;
  }

  
  a {
    text-decoration: none; /* Removes the underline from all anchor tags */
    transition: color 0.3s; /* Smooth transition for color change */
}
a:hover {
  }

  .js div#preloader {
  ition: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  /* You can change the background color and image URL here.  This solution works with animated .svg and animated .gif */
  background: #ffffff url('https://gist.githubusercontent.com/condensed-io/d4da34ecfdeda137ad4787fbd244ed27/raw/b96d939e9baf98ff79394c11af83c10a6acdd241/pac.svg') no-repeat center center;
}


.rollstar {
  background: transparent url('./static/image/noise/surface_of_concrete_wall_with_light_spots.png') repeat 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;     /* !! its fuckin backgroind cover dont forget*/

}

 .ghostskert {
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)))
}


.ghosttit {
  -webkit-mask-image: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

/* } */
/* .ghostskit{ */
  /* -webkit-mask-image: -webkit-gradient(radial, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) */
/* } */

.noiseMask {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><rect x="0" y="0" width="100" height="100" fill="black"/><circle cx="50" cy="50" r="40" fill="white"/></svg>');
  mask-size: 100px 100px;
  mask-repeat: repeat;
  mask-position: 0 0;
  mask-composite: source-over;
} 


.transparent-border {
  border-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
}

.radial-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(farthest-corner at 50% 50%, #bbb, #333);
  background-size: cover;
  background-position: center;
}

.mask1 {
  -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
 }

 .mask4 {
  -webkit-mask-image: url("/path/to/image-mask.png");
  mask-image: url("/path/to/image-mask.png");
  -webkit-mask-size: 400px 600px;
  mask-size: 400px 600px;
 }

/* background-image: radial-gradient(farthest-corner at 50% 50%, #bbb, #333); */


html {
  background-image: url("static/image/noise/surface_of_concrete_wall\ with_light_spots.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.colorshit{
  background-color: black;
}

canvas {
  border: 1px solid azure;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
	width: 50vmin;
	height: 50vmin;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0.65);
	animation: spin-all calc(var(--sp) * 2) linear 0s infinite
}

.circle {
	--in: 80%;
	--ar: #ff9800;
	--dt: #ffea34;
	--shadow: drop-shadow(0vmin 0vmin 0.5vmin #000) drop-shadow(0vmin 1vmin 0.5vmin #0004);
	--cross: linear-gradient(0deg, #fff0 calc(50% - 2px), #000 calc(50% - 1px) calc(50% + 1px), #fff0 calc(50% + 2px)), linear-gradient(90deg, #fff0 calc(50% - 2px), #000 calc(50% - 1px) calc(50% + 1px), #fff0 calc(50% + 2px));
    border: 6vmin solid var(--ar);
    width: var(--in);
    height: var(--in);
    border-radius: 100%;
    position: absolute;
    box-sizing: border-box;
    border-top-color: #fff0;
    border-left-color: #fff0;
    top: 15vmin;
    right: -10vmin;
    animation: spin-bot var(--sp) ease 0s infinite;
    background-image: var(--cross), radial-gradient(var(--dt) 5.5vmin, #fff0 calc(5.5vmin + 1px));
	background-repeat: no-repeat;
    background-size: 3vmin 1vmin, 1vmin 3vmin, 100% 100%;
    background-position: center center;
	filter: var(--shadow);
}

.circle:nth-child(2) {
    --in: 60%;
    top: -2vmin;
    animation: spin-top var(--sp) ease 0s infinite;
    transform: rotate(-45deg);
    background-image: var(--cross), radial-gradient(var(--dt) 1.25vmin, #fff0 calc(1.25vmin + 1px));
    right: -4vmin;
	filter: hue-rotate(10deg) var(--shadow);
    background-size: 1.4vmin 1vmin, 1vmin 1.4vmin, 100% 100%;
}

.circle:nth-child(3) {
    --in: 100%;
    top: -5vmin;
    left: -13vmin;
    transform: rotate(175deg);
    animation: spin-left var(--sp) ease calc(var(--sp) / 4) infinite;
    background-image: var(--cross), radial-gradient(var(--dt) 9vmin, #fff0 calc(9vmin + 1px));
	filter: hue-rotate(20deg) var(--shadow);
    background-size: 5vmin 1vmin, 1vmin 5vmin, 100% 100%;
}

.circle:nth-child(4) {
    --in: 60%;
    top: 35vmin;
    left: -6vmin;
    transform: rotate(-280deg);
    animation: spin-last var(--sp) ease calc(calc(calc(var(--sp) / 4) + var(--sp)) * -1) infinite;
    background-image: var(--cross), radial-gradient(var(--dt) 2.5vmin, #fff0 calc(2.5vmin + 1px));
	filter: hue-rotate(30deg) var(--shadow);
    background-size: 2vmin 1vmin, 1vmin 2vmin, 100% 100%;
}

.poseFirs {
display: flex;
align-items: center;
  justify-content: center;
margin: 20vw;
padding: 10vw;

/* padding:50vh; */
}

@keyframes spin-all {
	0% { transform: rotate(0deg) scale(0.65); }
	100% { transform: rotate(360deg) scale(0.65); }
}

@keyframes spin-top {
	0% { transform: rotate(-45deg); }
	100% { transform: rotate(315deg); }
}

@keyframes spin-bot {
	0%, 35% { transform: rotate(0deg); }
	80%, 100% { transform: rotate(-360deg); }
}

@keyframes spin-left {
	0%, 35% { transform: rotate(175deg); }
	80%, 100% { transform: rotate(535deg); }
}

@keyframes spin-last {
	0%, 10% { transform: rotate(-280deg); }
	90%, 100% { transform: rotate(-640deg); }
}