.group{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.red,.green,.blue,.yellow{
    flex: 1;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding  : 10px;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
flex:2;
}
.blue{
    background-color: blue;
    flex-grow: 2;
}
.yellow{
    background-color: yellow;
    flex:.5;
}
.groupedSection5 {
 jusify-content: flex-start;
}
.groupedSection5 {
    flex-wrap: justify-content: flex-start;
}
.groupedSection2 {
 jusify-content: flex-end;
}
.endSection {
    flex-wrap: justify-content: flex-end;
}
.startSection {
    flex-wrap: justify-content: flex-start;
}