html, body {
  height: 50%;       /* Make sure the body takes the full height of the viewport */        /* Center vertically */
}
body{

  background-image: url('../../images/drawings/proom.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  margin: 0;
  }

  body tbody {
    margin: 0;                  /* Remove default margin */
    display: flex;              /* Apply Flexbox */
    justify-content: left;      /* left horizontally */
    align-items: center;
    flex-direction: column;
         /* align table vertically */
  }
  table {
    /* Your table styles here */
  }

  img.katamar {
    z-index: -1;
    position: absolute;   
    transform: scale(0.5);
    transition: transform 0.5s ease;
  }

    /* Example of a hover effect to resize image (optional) */
    img.katamar:hover {
      transform: scale(1.5); /* increases size by 50% when hovered */
    }

  

  