body {
  background-color: gray;
}

#shitbirdtree {
  shape-outside: url("../../images/svg/nature/shitbirdNtree.svg");
  float: left;
  /* shape-outside: inset(23%); */
}

p {font-size:4em;}