<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href=""><title></title>
    <!-- Font's -->
    <!-- Icon's -->
    <!-- Styling's -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css"/>
    <link href="" rel="stylesheet" type="text/css"/>
</head>
<body background="">
        <header>
            <!-- BANNER -->  <img src="" alt="banner" width="100%" >
            <div class="tabs">
                <div class="tab is-tab-selected">tab1</div>
                <div class="tab"><a href="flexbox/flexbox.html">tab2</a></div>
                <div class="tab">G+r+i+d</div>
                <div class="tab"><a href="../../index.html">tab3</a></div>
            </div>
                
        </header>
    <main></main>
    <footer></footer>
    <script src=""></script>
</body>
</html>