<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css"/> -->
    <!-- Incuded Libs -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Page info -->
    <title>Hello HTML/CSS</title>
   
    <link rel="icon" type="image/x-icon" href="images/icons/potHeadRS.ico"><title>Hello HTML/CSS</title>  

    <!-- Styling -->
    <!-- <link href="../../styles/css/console.css" rel="stylesheet" type="text/css"/> -->
    <!-- <link href="../../styles/css/utils/positoning.css" rel="stylesheet" type="text/css"/> -->
    <link href="css.css" rel="stylesheet" type="text/css"/>

</head>
<body>
   <!-- Resource -->
   <!-- <h2 align="center"><a href="css.md">resource</a></h2> -->


<h1 class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla voluptatibus consequatur dolorem accusantium aperiam, ex incidunt iste hic. Quidem officiis earum dignissimos adipisci quaerat, quisquam amet inventore neque animi magnam.</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod labore nihil quam, laborum praesentium commodi alias aperiam dicta porro reiciendis. Nemo facilis cupiditate tenetur illo sit id odio, vitae dolorem?</p>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, laborum? Quidem blanditiis expedita delectus perspiciatis nisi, officia iste, error quam, minus eveniet nobis voluptates itaque similique sapiente praesentium voluptatum repudiandae?</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa veritatis quaerat sequi repellendus, dolores sint corrupti fuga qui rerum eaque itaque possimus. Temporibus praesentium suscipit, aliquam expedita architecto neque quidem!</p>

<script src="tabs.js"></script>
</body>
</html>

