.tabs {
    /**
     * Setting display to flex makes this container lay
     * out its children using flexbox, the exact same
     * as in the above "Stepper input" example.
     */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D7DBDD;
  }
  
    .tab {
      cursor: pointer;
      padding: 5px 30px;
      color: #16A2D7;
      font-size: 24px;
      font-weight: 600;
      border-bottom: 2.5px solid transparent;
      text-decoration: none;
    }



    .tab.is-tab-selected {
      border-bottom-color: #4EBBE4;
    }

    a {
      text-decoration: none;
    }