
/* body {
  margin: 10px;
} */

/* button {
  color: #fff;
  background-color: #86cdea;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  padding: 9px 12px;
  top:100;
  
  position: sticky;
} */